@font-face {
  font-family: "MontSerrat";
  font-weight: 400;
  src: url("../fonts/montserrat/Montserrat-Regular.otf") format("opentype");
}

@font-face {
  font-family: "MontSerrat";
  font-weight: 500;
  src: url("../fonts/montserrat/Montserrat-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "MontSerrat";
  font-weight: 600;
  src: url("../fonts/montserrat/Montserrat-Bold.otf") format("opentype");
}
